
  <div class="quicklinks">
        <div class="ql-entry"  text-align="center">
            <h4>Public resources</h4> 
        </div>

<!--
        <div class="ql-entry">
            <p><a href="/news" title="CANS 2016">&raquo; CANS 2016</a><br>
            October 17-19, 2016<br>
            RICE University, Houston, USA<br>
            </p>
        </div>
-->
       <div class="ql-entry">
            <a href="/litsearch" title="Literature Search">&raquo; Literature Search</a>
       </div>
       <div class="ql-entry">
            <a href="http://www.imagwiki.org/mediawiki/index.php?title=Relevant_Meetings_and_Conferences"
            title="IMAG conferences">&raquo; IMAG Conference listing</a>
       </div>
       <div class="ql-entry">
            <a href="http://videocast.nih.gov/"
            title="NIH videocast archive">&raquo; NIH video archive</a>
       </div>
       <div class="ql-entry">
            <a href="http://videocast.nih.gov/"
            title="http://www.calit2.net/newsroom/multimedia/index.php">&raquo; CalIT2 video archive</a>
       </div>

  </div>
